
 .total-price{
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 8px;
    font-weight: 600;
    font-size: 14px;
    width: 86px;
    text-align: center;
    color: #4caf50;
 }