.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

.restaurant{
  margin:10px auto 0;
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
    border-radius: 5px;
  h2{
    font-weight: 600;
  }
  h3{
    font-size: 12px;
  }
  .vendor-img{
    height: 80px;
    width: 80px;
    background: #efefef;
  }
  .chip{
    margin: 0;
    padding: 2px 8px;
    height: 24px;
    font-size: 12px;
  }

  &.closed{
    box-shadow: none;
    border-radius: 0;
  }
}

.discount-chip{
  position: absolute;
    z-index: 10000;
    bottom: 12px;
    left: 17px;
    width: 78px;
}
.badge-per {
  display: block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: #ff5722 !important;
  max-height: 24px;
  border-radius: 0 0 6px 6px;
  border-top: 2px solid #fff;
  color: #fff;
}




.top{
  background: #5bb15b;
}
.free{
  background: #ff8d03;
}

.free, .top{
  border-radius: 0;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.272) !important;
  border-left: 3px solid;
  font-size: 12px;
  padding: 4px;
  margin-right: 4px;
}


.closed{
  p, h2, h3{
    color: #afafaf;
  }

  .top, .free, .badge-per{
    background: #afafaf !important;
    opacity: 0.5;
  }
  .next-open{
    font-weight: 600;
    color: #333;
  }
  ion-img{
    filter: grayscale(100%);
  }
  .badge-per{
    opacity: 1;
  }
}


