<ion-header>
  <ion-toolbar color="primary" class="toolbar-container">
    <ion-button Fill="clear" slot="start" (click)="backHandler()">
      <ion-icon name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
    <ion-title class="title-header">
      <span
        >{{this.isEditMode ? "Saved Address": 'Confirm your location'}}</span
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    (click)="openAddLocation()"
    style="top: -32px"
  >
    <ion-fab-button color="secondary">
      <ion-img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTMuNDA0IDIxLjM3M0MxNS42OTg3IDE4LjU4NTggMjAgMTIuNzY5NiAyMCA4LjMzMzMzQzIwIDQuMjgzMjUgMTYuNDE4MyAxIDEyIDFDNy41ODE3MiAxIDQgNC4yODMyNSA0IDguMzMzMzNDNCAxMi43Njk2IDguMzAxMzQgMTguNTg1OCAxMC41OTYgMjEuMzczQzExLjMzNTIgMjIuMjcwOCAxMi42NjQ4IDIyLjI3MDggMTMuNDA0IDIxLjM3M1pNMTIgNUMxMi41NTIzIDUgMTMgNS40NDc3MiAxMyA2VjhIMTVDMTUuNTUyMyA4IDE2IDguNDQ3NzIgMTYgOUMxNiA5LjU1MjI4IDE1LjU1MjMgMTAgMTUgMTBIMTNWMTJDMTMgMTIuNTUyMyAxMi41NTIzIDEzIDEyIDEzQzExLjQ0NzcgMTMgMTEgMTIuNTUyMyAxMSAxMlYxMEg5QzguNDQ3NzIgMTAgOCA5LjU1MjI4IDggOUM4IDguNDQ3NzEgOC40NDc3MiA4IDkgOEgxMVY2QzExIDUuNDQ3NzIgMTEuNDQ3NyA1IDEyIDVaIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=" style="width: 36px;"></ion-img>
      <!-- <ion-icon name="location"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>


 
  <ion-list *ngIf="savedLocations.length > 0">
    <ion-item
      *ngFor="let savedLocation of savedLocations"
      class="ion-activatable item-styles item-styles1"
      lines="none"
      color="light"
      (click)="!isEditMode && selectLocation(savedLocation)"
    >
      <div class="address-icon" [ngClass]="{'briefcase' : savedLocation.address_type === 'OFFICE', 'home': savedLocation.address_type === 'HOME', 'other': savedLocation.address_type === 'OTHERS' }">
        <ion-icon
          name="{{savedLocation.address_type === 'OFFICE' ? 'briefcase' : savedLocation.address_type === 'HOME' ? 'home' : 'business'}}"
          size="large"
        ></ion-icon>
      </div>
      <ion-label class="address">
        
        <h3>
          {{savedLocation.address_type === 'OTHERS' ? savedLocation.address_name : savedLocation.address_type}}
         
        </h3>
        <p class="ion-text-wrap">
          {{savedLocation.h_no}}, {{savedLocation.street}}
        </p>
        <p class="ion-text-wrap">{{savedLocation.landmark}}</p>
        <p class="ion-text-wrap">{{savedLocation.contact_no}}</p>
        <h5>{{savedLocation.locality}}</h5>
        <div *ngIf="isEditMode" class="buttons">
          <ion-button color="secondary" slot="end" size="small"  (click)="selectLocation(savedLocation)">
            <ion-label>Edit</ion-label>
          </ion-button>
  
          <ion-button color="primary" slot="end" size="small" (click)="presentAlertConfirm(savedLocation.id)">
            <ion-label>Delete</ion-label>
          </ion-button>
        </div>

      </ion-label>
   

      

      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>

  <div *ngIf="!isloading">
    <ion-list>
      <ion-item *ngFor="let list of [1,1,1,1,1]">
        <ion-thumbnail slot="start" style="height: 90px; width: 90px">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="empty-locations" *ngIf="isloading && savedLocations.length == 0">
    <ion-icon name="pin" class="no-loc-icon"></ion-icon>
    <h3>No locations saved yet</h3>
    <p>
      Tap the top add location button to add a location.
    </p>
  </div>
</ion-content>

<ion-footer>

  
</ion-footer>