
<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-container">
    <ion-text class="location-label">
      <ion-button size="small" fill='clear' class="location-btn"  (click)="gotoLocation()">
        <ion-icon class="location-icon" name="location" color="secondary"></ion-icon> 
        {{chooseLocation}}
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <!-- <div class="sliders" *ngIf="offers.length>0">
    <ion-slides pager="true" [options]="slideOpts">
     <ion-slide *ngFor="let slide of offers">
        <div class="card bg-warning">
          <div class="card-body">
            <div class="d-flex">
              <div class="mr-3">
                <div class="text-white-75">{{slide.group}}</div>
              </div>
            </div>
          </div>
  
        </div>
  
      </ion-slide>
       <ion-slide>
        <div class="card bg-primary">
          <div class="card-body">
            <div class="d-flex">
              <div class="mr-3">
                <div class="text-white-75">Grocery</div>
              </div>
            </div>
          </div>
  
        </div>
  
      </ion-slide>
      <ion-slide>
        <div class="card bg-success">
          <div class="card-body">
            <div class="d-flex">
              <div class="mr-3">
                <div class="text-white-75">Fruites</div>
              </div>
            </div>
          </div>
  
        </div>
  
      </ion-slide>
      <ion-slide>
        <div class="card bg-1">
          <div class="card-body">
            <div class="d-flex">
              <div class="mr-3">
                <div class="text-white-75">Meat</div>
              </div>
            </div>
          </div>
  
        </div>
  
      </ion-slide>
    </ion-slides> 
  </div> -->

  <div class="sliders" *ngIf="offers.length>0">

    <ion-row *ngFor="let service of offers">
      <ion-list-header class="header-dashboard" style="margin-top: 0;">
        <!-- <ion-label class="header-title"> Top Deals on&nbsp; <label [innerHTML]="service.group" class="label"></label></ion-label> -->
        <ion-label class="header-title"> Top deals for you</ion-label>
      </ion-list-header>

      <ion-slides pager={getPager(service.items)} [options]="slideOptions(service.items)">
        <ion-slide *ngFor="let slide of service.items">
          <div class="card bg-primary new-card" [ngClass]="{'bg-warning' : service.group == 'Food', 'bg-success' : service.group == 'Groceries '}">
            <div class="card-body">
              <div class="d-flex">
                <div class="mr-3">
                  <div class="text-white-75">{{slide.title}}</div>
                  <p class="conten" [innerHTML]="slide.description"></p>
                </div>
              </div>
            </div>
    
          </div>
    
        </ion-slide>
      </ion-slides>

    </ion-row>


    
  <!-- <ion-item-group *ngFor="let service of offers" class="group-item">

    <ion-item-divider class="divider-sub">
      Top Deals on&nbsp; <label [innerHTML]="service.group"></label>
    </ion-item-divider>

    

  </ion-item-group> -->

  </div>
  
  <app-explore-top-services></app-explore-top-services>
  

</ion-content>
<!-- <ion-toolbar *ngIf="allOrders">
  <ion-item lines="none">
    <div class="order-status" [ngClass]="{'onthe-way' : allOrders.id === 10 || allOrders.id === 1, 'cancel' : allOrders.id === 3 || allOrders.id === 11 }">
      {{allOrders.name == 'Order Placed Waiting for Final Price' ? 'Order
      Placed' : allOrders.name}}
      <span class="badge-dot"> </span>
    </div>
    <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
  </ion-item>
</ion-toolbar> -->
<ion-toolbar>
  


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="call()">
        <ion-icon name="call"></ion-icon>
        <ion-label>Call</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="isEnabled&&orders()"  *ngIf="isEnabled">
        <ion-badge *ngIf="allOrders" color="danger">{{allOrders.length}}</ion-badge>
        
        <ion-icon name="cart"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="profileHandler()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs> 

</ion-toolbar>




 

