<ion-header>
  <ion-toolbar color="primary" class="toolbar-container">
    <ion-button Fill="clear" slot="start" (click)="backHandler()">
      <ion-icon name="close" color="light"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="details"
      Fill="outline"
      color="secondary"
      size="small"
      slot="end"
      (click)="presentAlertConfirm()"
    >
      <ion-icon name="trash" color="light" size="small"></ion-icon>
    </ion-button>
    <ion-title class="title-header">
      <span>{{ !details ? "Add your address" : "Update your address" }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="addres-field">
    <ion-item class="ion-activatable item-styles item-styles1"  color="light">
      <ion-icon name="home" slot="start" size="small"></ion-icon>
      <ion-label position="stacked">House / Flat number*</ion-label>
      <ion-input
        inputmode="text"
        autofocus="true"
        [(ngModel)]="flat"
      ></ion-input>
    </ion-item>

    <ion-item class="ion-activatable item-styles item-styles1"  color="light">
      <ion-icon name="trail-sign" slot="start" size="small"></ion-icon>
      <ion-label position="stacked">Street Name / Area*</ion-label>
      <ion-input inputmode="text" [(ngModel)]="street"></ion-input>
    </ion-item>

    <ion-item class="ion-activatable item-styles item-styles1"  color="light">
      <ion-icon name="body" slot="start" size="small"></ion-icon>

      <ion-label position="stacked">Landmark</ion-label>
      <ion-input inputmode="text" [(ngModel)]="landmark"></ion-input>
    </ion-item>

    <ion-item class="ion-activatable item-styles item-styles1"  color="light">
      <ion-icon name="call" slot="start" size="small"></ion-icon>

      <ion-label position="stacked">Contact Number(optional)</ion-label>
      <ion-input
        inputmode="tel"
        maxlength="10"
        minlength="10"
        [(ngModel)]="contact"
      ></ion-input>
    </ion-item>

    <ion-item
      style="margin-bottom: 10px"
      class="ion-activatable item-styles item-styles1"
     
      color="light"
    >
      <ion-icon name="location" slot="start" size="small"></ion-icon>
      <ion-label class="locality-label">Locality* </ion-label>

      <ion-select interface="popover" [(ngModel)]="locality">
        <ion-select-option
          [value]="deliveryLocation.name"
          *ngFor="let deliveryLocation of deliveryLocations"
          >{{ deliveryLocation.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item
   
      style="max-height: 34px;margin: 0;"
      class="ion-activatable item-styles item-styles1"
      lines="none"
      color="light"
    >
      <ion-icon name="save" slot="start" size="small"></ion-icon>
      <ion-label class="locality-label">Address Type*</ion-label>
    </ion-item>

    <ion-item
      class="save-as-btns"
      lines="none"
      *ngIf="!isOtherName"
    
      lines="none"
      color="light"
    >
      <ion-icon
        name="save"
        slot="start"
        size="small"
        style="opacity: 0"
      ></ion-icon>

      <ion-chip
        *ngFor="let typeOption of typeOptions; let index = index"
        color="dark"
        outline="true"
        [ngClass]="{ 'active-tip': index === currentIndex }"
        (click)="onSelectTypeHandler(typeOption.name); currentIndex = index"
      >
        {{ typeOption.name }}
      </ion-chip>
    </ion-item>

    <ion-item
      *ngIf="isOtherName"
      color="light"
    >
      <ion-icon
        name="save"
        slot="start"
        size="small"
        style="opacity: 0"
      ></ion-icon>
      <ion-input
        inputmode="text"
        placeholder="Any name"
        autofocus="true"
        [(ngModel)]="typeText"
      ></ion-input>
      <ion-button
        size="small"
        color="secondary"
        fill="none"
        class="close-button"
        (click)="
          onSelectTypeHandler(''); isOtherName = false; currentIndex = null
        "
      >
        Cancel
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="fotter">
  <ion-button
    expand="block"
    color="secondary"
    class="custom-btn"
    [disabled]="disabledButton(flat, street, locality)"
    (click)="!details ? addAddress() : updateAddress()"
    >{{ !details ? "Add" : "update" }} Address</ion-button
  >
</ion-footer>
