/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    
   }
   
   :host(.button-outline) {
    --border-width: 1px;
  }


  
  ion-content{
    --ion-background-color:#eff5f7;
}


.title-header{
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
}
// .toolbar-container{
//     // --min-height: 46px;
// }
.my-custom-modal .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
 }

 .custom-btn{
  --border-radius: 60px;
    min-height: 46px;
    font-size: 0.9rem;
    font-weight: 600;
 }
 
 .myLoginPopup .modal-wrapper {
    height: 320px;
    bottom: 0px;
    position: absolute;
  }

  .fotter{
    padding: 10px 20px;
    &::before{
      background-image: none;
    }
}

.footer-nobc{
  background: #eff5f7;
&::before{
  background-image: none;
}
}

ion-card{
  --background-color: #eff5f7;
}

.invalid-feedback, .error-text{
  color: #eb445a;
  padding-left: 10px ;
}

ion-loading {
  color: green;
}

.my-custom-class {
  // --background: #fff;
  // --spinner-color: #ff7900;
  // color: #ff7900;
}

.badge {
  font-size: .75em;
  font-weight: 600;
  padding: .25rem .5rem;
  line-height: 1.175;
  border-radius: .125rem;
  position: relative;
}
.radius-r-0 {
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;
}
.border-r-2, .border-x-2 {
  border-right-width: 2px!important;
  border-right-style: solid!important;
  border-right-color: transparent;
}
.text-danger-d1 {
  color: #ca2525!important;
}
.brc-danger-m2, .brc-h-danger-m2:hover {
  border-color: #e4806e!important;
}

.item-styles{
  margin: 0 auto 10px;
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
    border-radius: 5px;
}

.ion-item{
  --background-color: #fff;
}

ion-segment-button {
  min-width: auto;
}

.my-custom-menu-class .action-sheet-button {
height: 38px;
font-size: 14px;
}

.my-custom-menu-class .action-sheet-title{
color: #ff7900;
font-size: 16px;
}